{% extends "extensao/base.html" %}

{% block context %}
    <div class="center green lighten-4 hoverable ">
        {% for message in messages %}
            {% if "login" in message.tags %}
                <p  class="{{ message.tags }} alerts-p ">{{ message }}</p>
             {% endif %}
        {% endfor %}
    </div>

    <div class="row">
            {% if  form.non_field_errors %}

            <div class="center red lighten-4 hoverable alerts-p">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

        <div class="row">
            <div class="col l4 m4 s8 offset-l4 offset-m4 offset-s2 center green-text">
                 <h3>ENTRAR</h3>
            </div>
        </div>

        <form method="POST" class="col l8 m8 s12  offset-m2 offset-l2 ">
            {% csrf_token %}

            <div class="row">
                <div class="input-field col l12 m12 s12 auth">
                    <i class="material-icons prefix">account_circle</i>

                    <label for="id_username">Nome de Usuario</label>
                    {{ form.username }}


                </div>
            </div>
            <div class="row">
                <div class="input-field col l12 m12 s12 auth">
                    <i class="material-icons prefix">vpn_key</i>

                    <label for="id_password">Senha</label>
                    {{ form.password }}

                </div>
            </div>


            <button class="waves-effect waves-light btn green accent-4 btn-home btn-login" type="submit">
                <i class="material-icons left">arrow_forward</i>Entrar</button>

            <div class="row">

                <div class="input-field col l12 m12 s12 ">
                     <p class="link-auth">Não Possui conta? <a href="{% url 'signup' %}">Cadastre-se</a></p>
                </div>
            </div>

        </form>

    </div>

{% endblock %}