{% extends "extensao/base.html" %}


{% block context %}


<div class="row">
            {% if  form.non_field_errors %}

            <div class="center red lighten-4 hoverable ">
                {{ form.non_field_errors }}
            </div>
            {% endif %}


        <form action="" method="POST" class="col l8 m8 s12  offset-m2 offset-l2 " style="margin-top: 65px;">
            {% csrf_token %}

            <div class="row" style="margin-top:;">
                <div class="input-field col l12 m12 s12">
                    <i class="material-icons prefix">account_circle</i>

                    <label for="id_username">Nome de Usuario</label>
                    {{ form.username }}


                </div>
            </div>
            <div class="row">
                <div class="input-field col l12 m12 s12">
                    <i class="material-icons prefix">vpn_key</i>

                    <label for="id_password">Senha</label>
                    {{ form.password }}

                </div>
            </div>


            <button class="waves-effect waves-light btn green accent-4" style="margin-left:11px;" type="submit">Entrar</button>
            <div class="row" style="margin-bottom:35px;">

                <div class="input-field col l12 m12 s12" style="margin-bottom:17px;">
                     <p>Não Possui conta? <a href="{% url 'signup' %}">Cadastre-se</a></p>
                </div>
            </div>
        </form>


</div>




{% endblock %}