{% extends "extensao/base.html" %}

{% block context %}

<div class="row">
            {% if  form.errors %}

                <div class="center red lighten-4 hoverable ">
                    {{ form.username.errors }}
                    {{ form.password2.errors }}
                </div>
            {% endif %}

        <form class="col l8 m8 s12  offset-m2 offset-l2 "  method="POST">
			{% csrf_token %}

            <div class="row">
                <div class="input-field l12 m12 s8 signup">
                    <i class="material-icons prefix">account_circle</i>
                    {{ form.username }}
                    <label for="id_username">Nome de Usuario</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field l12 m12 s8 signup">
                    <i class="material-icons prefix">vpn_key</i>
                    {{ form.password1 }}
                    <label for="id_password1">Senha</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field l12 m12 s8 signup">
                    <i class="material-icons prefix">check</i>
                    {{ form.password2 }}
                    <label for="id_password2">Confirmação da Senha</label>
                </div>
            </div>
			<button class="waves-effect waves-light btn green accent-4 btn-home btn-signup"  type="submit"><i class="material-icons left">arrow_forward</i>Sing up</button>
        </form>
</div>
{% endblock %}