{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <script src="{% static 'jquery/jquery-2.1.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery/jquery.maskedinput.min.js' %}"></script>
    <title>Cadastro</title>
</head>
<body>
    <div class="divmenssagem">
            {% for message in messages %}
                {% if "cadastro20" in message.tags %}
                <h4  class="{{ message.tags }}" id="menssagem">
                    {{ message }}
                </h4>
                {%endif%}
            {% endfor %}
    </div>
    <header>

            <img src="/media/copy2_of_topo_ifpi_angical.png" alt="">


            <h1>Instituto Federal do Piauí - IFPI</h1>

    </header>
    {% if user.is_authenticated %}
    <form action="{% url 'participante_save' %}" method="POST">
        {% csrf_token %}
        <!-- dados usuario -->

        <fieldset>

            <legend class="p">Dados Pessoais - Campos com <span>*</span> são obrigatórios</legend>

        <div class="linhas">
            <div class="campo">
                <label for="cpf"><span>*</span>CPF</label>
                 {{ form.cpf }}
            </div>
            <div class="campo">
                <label for="nome"><span>*</span>Nome Completo</label>
                {{ form.nome }}
            </div>
        </div>

        <div class="linhas">
            <div class="campo">
                <label for="nome"><span>*</span>Sexo</label>
                {{ form.sexo }}
                <p>informar sexo descrito no documento oficial de identificação.</p>
            </div>
            <div class="campo">
                <label for="nome"><span>*</span>Filiação - Nome da Mãe</label>
                {{ form.nome_mae }}
                <p>informar nome do(a) responsável legal.</p>
            </div>
        </div>

        <div class="linhas">
            <div class="campo">
                <label for="nome"><span>*</span>Filiação - Outro Responsável</label>
                {{ form.responsavel }}
                <p>informar nome do(a) responsável legal.</p>
            </div>
            <div class="campo">
                <label for="nome"><span>*</span>Data de Nascimento</label>
                {{ form.data_nascimento }}
            </div>
        </div>

        <div class="linhas">
            <div class="campo">
                <label for="nome"><span>*</span>Nacionalidade</label>
                {{ form.nacionalidade }}
            </div>
            <div class="campo">
                <label for="email"><span>*</span>Estado</label>
                {{ form.estado_nascimento }}
            </div>
        </div>

        <div class="linhas">
            <div class="campo">
                <label for="nome"><span>*</span>Município de Nascimento</label>
                {{ form.municipio_nascimento }}
            </div>
            <div class="campo">
                <label for="nome"><span>*</span>Identidade do candidato</label>
                {{ form.identidade_candidato }}
            </div>
        </div>

        <div class="linhas">
            <div class="campo">
                    <label for="nome"><span>*</span>Data de Emissão Identidade</label>
                    {{ form.data_identidade }}
            </div>
            <div class="campo">
                <label for="nome"><span>*</span>Órgão Emissor</label>
                {{ form.orgao_emissor }}
            </div>
        </div>

        <div class="linhas">
            <div class="campo">
                <label for="email"><span>*</span>UF da Identidade</label>
                {{ form.uf_identidade }}
            </div>
            <div class="campo">
                <label for="nome"><span>*</span>Município da Identidade</label>
               {{ form.municipio_identidade }}
            </div>
        </div>
        <div class="campoPais">
            <label for="nome">País de Origem</label>
            {{ form.pais_origem }}
            <p>Apenas preencha este campo caso não tenha nascido no Brasil.</p>
        </div>
    </fieldset>

        <!-- endereço -->
    <fieldset>

                <legend class="p">Endereço do Candidato*</legend>

        <div class="linhas">
            <div class="campo">
                <label for="nome"><span>*</span>Logadouro</label>
                {{ form.logradouro }}
                <p>Nome da rua.</p>
            </div>
            <div class="campo">
                <label for="nome">Complemento</label>
                {{ form.complemento }}
            </div>
        </div>

        <div class="linhas">
                <div class="campo">
                    <label for="nome"><span>*</span>Bairro</label>
                    {{ form.bairro }}
                </div>
            <div class="campo">
                <label for="email"><span>*</span>Estado</label>
                {{ form.estado }}
            </div>
        </div>

        <div class="linhas">
                <div class="campo">
                    <label for="nome"><span>*</span>CEP</label>
                    {{ form.cep }}
                </div>
            <div class="campo">
                <label for="email"><span>*</span>ZONA</label>
                {{ form.zona }}
            </div>
        </div>

        <div class="linhas">
            <div class="campo">
                <label for="nome"><span>*</span>Cidade deste endereço</label>
                {{ form.cidade_endereco }}
            </div>

        </div>

    </fieldset>

    <fieldset>
        <!-- contato -->

            <legend class="p">Contato do Candidato</legend>


        <div class="linhas">
            <div class="campo">
                <label for="nome"><span>*</span>E-Mail</label>
                {{ form.email }}
            </div>
            <div class="campo">
                <label for="nome"><span>*</span>Telefone Residencial</label>
                {{ form.telefone_residencial }}
            </div>
        </div>

        <div class="campoPais">
            <label for="nome"><span>*</span>Telefone Celular</label>
            {{ form.telefone_celular }}
        </div>
     </fieldset>

        <!-- botão -->
        <div class="btn">
            <button class="botao submit" type="submit" name="submit">Enviar</button>
        </div>
    </form>


    <script type="text/javascript">
        $(document).ready(function () {
        $('#id_data_nascimento').mask('99/99/9999');
        $("#id_data_identidade").mask('99/99/9999');

        return false;
        });
    </script>

    <hr style="color:green; height: 2px; margin: 0% 0% 1% 0%;">

     <div class="voltar">
             <a class="botao-link" href= "{% url 'home' %}">Voltar</a>
     </div>
    {% else %}

    <div class="link">
        <a href="{% url 'login' %}">Você precisa está logado no sistema</a>
    </div>

    {% endif %}
    <footer>
        <div class="footer">
            <div class="linhaf"></div>
            <p class="p">Instituto Federal de Educação, Ciência e Tecnologia do Piauí (IFPI), Reitoria, Angical (PI)</p>
        </div>
    </footer>



</body>
</html>