<!DOCTYPE html>
<html>
<head>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />
	 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sistema de extensão</title>
</head>
<body>


  <div class="row">
    <form class="col s12" style="margin-top:80px;">
      <div class="row">
        <div class="input-field col s12">
            <label for="icon_prefix">NOME DO CURSO:</label>
            <input id="icon_prefix" type="text"  value="{{ inscricao.curso_extensao.nome_curso }}" readonly class="validate">

        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
            <label for="icon_prefix">TURNO:</label>
            <input id="icon_prefix" type="text" value="" class="validate">

        </div>
        <div class="input-field col s4">
            <label for="icon_telephone">SÉRIE/MÓDULO/PERÍODO:</label>
            <input id="icon_telephone" type="tel" class="validate">

        </div>
        <div class="input-field col s4">
            <label for="icon_telephone">ANO LETIVO:</label>
            <input id="icon_telephone" type="tel" class="validate">
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
            <label for="icon_prefix">NOME DO ALUNO:</label>
            <input id="icon_prefix" type="text" value="{{ inscricao.participante.nome }}"  readonly class="validate">
        </div>

       </div>
       <div class="row">
        <div class="input-field col s6">
            <label for="icon_prefix">DATA:</label>
            <input id="icon_prefix" type="text"value="{{ inscricao.curso_extensao.periodo_execucao }}" readonly class="validate">
        </div>
        <div class="input-field col s6">
            <label for="icon_prefix">Assinatura do Servidor:</label>
            <input id="icon_prefix" type="text" class="validate">
        </div>
       </div>
      </div>
    </form>
  </div>
   <div class="row">
        <div class="col s6 center">
            <a onclick="window.print()" class="waves-effect waves-light btn green accent-4"><i
                            class="material-icons left"></i>Imprimir</a>
        </div>

        <div class="col s6 center">
            <a class="waves-effect waves-light btn green accent-4" href="{% url 'home' %}"><i
                            class="material-icons left"></i>Voltar</a>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

</body>
</html>

