{% extends "extensao/base.html" %}

{% block context %}

    <div class="center red lighten-4 hoverable ">
        {% for message in messages %}
            {% if "inscricao1" in message.tags %}
                <p class="alerts-p"> {{message}} </p>
            {% endif %}
        {% endfor %}


        {% for message in messages %}
            {% if "inscricao2" in message.tags %}
                <p  class="{{ message.tags }}">
                        <a class="alerts-link" href="{% url 'participante' %}">
                              {{ message }}</a></p>
             {% endif %}
        {% endfor %}

        {% for message in messages %}
            {% if "inscricao3" in message.tags %}
                <p  class="{{ message.tags }}" >
                        <a class="alerts-link" href="{% url 'home' %}">
                              {{ message }}</a></p>
             {% endif %}
        {% endfor %}
    </div>

    <div class="row">
        <div class="col l10 m10 s10 offset-l1 offset-m1 offset-s1">
            <h5 class="center table"> Descrição da Oferta: {{ oferta.nome_oferta }}</h5>
            <p class="black-text">{{ oferta.resumo_oferta }}</p>
        </div>
    </div>

    <div class="row">
         {% for arquivo in oferta.arquivo.all %}
        <div class="col l10 m10 s10 offset-l1 offset-m1 offset-s1 ">
             <i class="material-icons left blue-text">description</i>
            <a class="link-d" href="{{ arquivo.arquivo.url }}" target="_blank">{{ arquivo.criado}} - {{ arquivo }}  </a>
        </div>
         {% endfor %}
    </div>

    <div class="row">
            <table class=" highlight striped col s10 offset-s1 table">
                <tbody>
                    <tr>
                        <td>Nome da Oferta:</td>

                        <td>{{ oferta.nome_oferta }}</td>
                    </tr>
                    <tr>
                        <td>Período de realização:</td>

                        <td>{{ oferta.data_inicio }} a {{ oferta.data_final }}</td>
                    </tr>
                    <tr>
                        <td>Período de inscrições: </td>

                        <td>{{ oferta.data_inscricoes_inicial }} a {{ oferta.data_inscricoes_final}}</td>
                    </tr>
                    <tr>
                        <td>Área de Conhecimento:</td>

                        <td>{{ oferta.area_conhecimento }}</td>
                    </tr>
                    <tr>
                        <td>Vagas Participantes:</td>

                        <td>{{ oferta.vagas_participantes }}</td>
                    </tr>
                    <tr>
                        <td>Público Alvo:</td>

                        <td>{{ oferta.publico_alvo }}</td>
                    </tr>
                    <tr>
                        <td>Carga Horária:</td>

                        <td>{{ oferta.carga_horaria }} horas</td>
                    </tr>
                    <tr>
                        <td>Turno:</td>

                        <td>{{ oferta.turno }}</td>
                    </tr>
                    <tr>
                        <td>Périodo Letivo:</td>

                        <td>{{ oferta.periodo_letivo }}</td>
                    </tr>
                        {% for equipe in oferta.equipe_participante.all %}
                    <tr>
                        <td>Equipe:</td>
                        <td>
                            {{ equipe }}
                        </td>

                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Situação:</td>

                        <td id="nome-curso">{{ oferta.situacao }}</td>
                    </tr>
                </tbody>
            </table>
    </div>

        {% if oferta.situacao.id == 2 %}

                {% if user.is_authenticated %}

                    <div class="row">
                        <div class="col l4 m4 s10 offset-l4 offset-m4 offset-s1">
                            <a href="{% url 'confirmar_inscricao' oferta.id %}"
                            class=" btn-home btn-incricao waves-effect waves-light btn green accent-4">
                            <i class="material-icons left">description</i>Realizar Pré-Inscrição</a>
                        </div>
                    </div>
                {% else %}

                    <div class="row">
                        <div class="col l8 m12 s12 offset-l2">
                            <p class="paragrafo-login center" ><i>*Para realizar inscrição é necessário estar logado no sistema.
                            </i><a class="link-login" href="{% url 'login' %}"> Efetue login. </a></p>
                        </div>
                    </div>
                {% endif %}

        {% elif oferta.situacao.id == 1 %}

            <div class="center red lighten-4 hoverable ">
                <p class="alerts-p"> As inscrições para este curso ainda não estão disponíveis! </p>
            </div>

        {% elif oferta.situacao.id == 3 %}

            <div class="center red lighten-4 hoverable" >
                <p class="alerts-p"> Inscrições encerradas! </p>
            </div>

        {% elif oferta.situacao.id == 4 %}

            <div class="center red lighten-4 hoverable" >
                <p class="alerts-p">Este curso não está mais disponível. Concluído em: {{ oferta.data_final }}. </p>
            </div>

        {% endif %}
            <div class="row">

                <div class="col l4 m4 s10 offset-l4 offset-m4 offset-s1">

                    <a href="{% url 'home' %}" class=" btn-home btn-cursos waves-effect waves-light btn green accent-4 ">
                        <i class="material-icons left">description</i>Listar Ofertas</a>
                </div>

            </div>

{% endblock %}
