     <div class="center green lighten-4 hoverable ">
        {% for message in messages %}
            {% if "cadastrado" in message.tags %}
                <p class="{{ message.tags }} alerts-p">{{ message }}</p>
            {%endif%}
        {% endfor %}
     </div>

    <div class="center green lighten-4 hoverable ">
        {% for message in messages %}
            {% if "cadastrado1" in message.tags %}
                <p class="{{ message.tags }} alerts-p">{{ message }}</p>
            {%endif%}
        {% endfor %}
    </div>

    <div class="center red lighten-4 hoverable ">
        {% for message in messages %}
            {% if "editado" in message.tags %}
                <p  class="{{ message.tags }} " >
                    <a class="alerts-link" href="{% url 'participante' %}">
                          {{ message }}</a></p>
            {%endif%}
        {% endfor %}
    </div>

    <div class="row green darken-3 filtro">
           <div class="col l12 m12 s12 ">
                <h5 id="filtro-curso">Filtrar Cursos por:</h5>
           </div>
            <div class="col l2 m2 s12 ">
                 <a  class="link-b"  href="{% url 'home' %}">Todos Cursos</a>
           </div>
           <div class="col l2 m2 s12 ">
                 <a  class="link-b" href="{% url 'novos_cursos' %}">Novos Cursos</a>
           </div>
           <div class="col l2 m2 s12 ">
                <a class="link-b"  href="{% url 'inscricoes_abertas' %}">Inscrições Abertas</a>
           </div>
           <div class="col l2 m2 s12 ">
                <a class="link-b" href="{% url 'inscricoes_finalizadas' %}">Inscrições Finalizadas</a>
           </div>
           <div  class="col l2 m2 s12 ">
               <a class="link-b" href="{% url 'concluidos' %}">Concluídos</a>
           </div>
    </div>

     <div class="row">

        {% for curso in cursos %}


        <div class="col s12 m6 l3 xl3 ">

            <div class="card hoverable">

                <div class="card-image responsive-img">
                    <img   src="{{ curso.foto_curso.url }}" class="foto_curso">
                </div>

                <div class="card-content grey-text">
                    <p id="nome-curso">Curso: {{ curso.nome_curso }}</p>
                    <p>Data Início: {{ curso.data_inicio  }}</p>
                    <p>Data Final: {{ curso.data_final }}</p>
                    <p>Carga Horária: {{ curso.carga_horaria}} horas</p>
                    <p id="situacao-curso">Situação: {{ curso.situacao }}</p>
                </div>

                <div class="card-action center"><a class="waves-effect waves-light btn  btn-home #1b5e20 green darken-4"
                     href="{% url 'detalhes_curso' curso.id %}"><i class="material-icons left">description</i>Detalhes</a>
                </div>

            </div>

        </div>

        {% endfor %}

    </div>