{% extends "extensao/base.html" %}

{% block context %}
{% if user.is_authenticated %}

    <div class="row">
        <div class="col l12 m12">
            <div class="s12 l4 m12">

            </div>
            <div class="s12 l4 m12 center btn-home">
                <div class="card blue-grey darken-1">
                    <div class="card-content">
                        <span class="card-title bemvindo2">Parabéns! Inscrição Realizada com Sucesso!</span>
                        <h3 class="bemvindo1">Você se inscreveu no curso de {{ inscricao.curso_extensao.nome_curso }}</h3>
                        <p class="">Comparecer a Coordenação de Extensão IFPI - Campus Angical com o seguinte comprovante!</p>
                    </div>
                    <div class="card-action">

                    </div>
              </div>
            </div>
         </div>
    </div>
    <div class="row">
        <div class="col l4">

        </div>
        <div class="col l4 m12 s12 ">
                    <a href="{% url 'comprovante_inscricao' inscricao.id %}" class="btn-home waves-effect waves-light btn green accent-4 " style="width:100%;">
                        <i class="material-icons left">description</i>Gerar comprovante</a>
        </div>
    </div>
    <div class="row">
        <div class="col l4">

        </div>
        <div class="col l4 m12 s12 center">
                    <a href="{% url 'home' %}" class="btn-home waves-effect waves-light btn green accent-4 " style="width:100%;">
                        <i class="material-icons left">arrow_back</i>Voltar</a>
        </div>
    </div>
{% else %}
    <div class="center red lighten-4 hoverable ">
    {%for message in messages %}
        {%if "comprovante01" in message.tags %}
            <p style="color:bold;" class="{{ message.tags }}">
                    <a href="{% url 'login' %}" style="color:black; text-decoration: underline;}">
                          {{ message }}</a></p>
         {%endif%}
    {%endfor%}
    </div>
{% endif %}

{% endblock %}