{% extends "extensao/base.html" %}
{% block context %}

    <div class="center red lighten-4 hoverable ">
        {% for message in messages %}
            {% if "inscricao4" in message.tags %}
            {%endif%}
        {% endfor %}
    </div>

    <div class="row">

       {% for inscricao in inscricoes %}

            <div class="col s12 l6">
                <div class="card hoverable">
                    <div class="card-content ">
                        <span class="card-title center">{{  inscricao.curso_extensao.nome_curso  }}</span>

                            <p>Nome do Candidato: {{  inscricao.participante.nome }}</p>
                            <p>CPF: {{ inscricao.participante.cpf }}</p>
                            <p>Período de Execução:<br>
                                Data Início: {{ inscricao.curso_extensao.data_inicio }}<br>
                                Data Final:  {{ inscricao.curso_extensao.data_final }}</p>
                            <p>Carga horária: {{ inscricao.curso_extensao.carga_horaria }} horas</p>
                    </div>



                    <div class="card-action center">
                         <a href="{% url 'comprovante_inscricao' inscricao.id %}" class="btn-home waves-effect waves-light btn green accent-4 center ">
                            <i class="material-icons left">description</i>Gerar comprovante</a>
                    </div>

                </div>
             </div>


        {% endfor %}
          <div class="row">
            <div class="col l4 m4 s1">

            </div>
            <div class="col l4 m4 s10">
                <div class="card-action center">
                    <a href="{% url 'home' %}" class="btn-home waves-effect waves-light btn green accent-4 " style="width:100%;"
                        ><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </div>
{% endblock %}

